doctype html
html
  include _headAndStyles.pug
  body
    div.container
      div.content 
        figure.fig
          img.logo(src=`${host}/assets/academlinks-logo.webp`)
        div.feedback
          p.welcome
            strong Welcome to Academlinks. 
          p.thanks Dear 
            strong.username #{userName}
          p.message
            span Your request about registration is aproved. 🎉
          p.thanks 
            span Thank you 
              strong.username #{userName} 
            span for your patience.
          p.message Now you can navigate to our website using link below and set your 
            br
            strong password.
            br
            span Notice that this step is 
              br
              strong required !
          a.btn(href=`${url}` target="_blank") Set Password
          p.message After that you can login to our website.
          p.message Wish you good luck !!!

