doctype html
html
  include _headAndStyles.pug
  body
    div.container
      div.content 
        figure.fig
          img.logo(src=`${host}/assets/academlinks-logo.webp`)
        div.feedback
          p.welcome
            strong Academlinks
          p.thanks Dear 
            strong.username #{userName}
          p.message
            span This is your temporary password  
            strong (valid for only 10 minutes)
            span .
          p Password : 
            strong #{resetToken}
          p Please copy the password and paste it in appropriate field.
          p As a second field you can enter your new password.
          p.thanks 
            span Wish you good luck !

