doctype html
html
  include _headAndStyles.pug
  body
    div.container
      div.content 
        figure.fig
          img.logo(src=`${host}/assets/academlinks-logo.webp`)
        div.feedback
          p.welcome
            strong Academlinks
          p.thanks Dear 
            strong.username #{userName}
          p.message
            span Thank you for your interest in joining our social network. 
            br 
            span We appreciate the time and effort you have taken to complete the registration process.
          p.message
            span After careful review of your application, we regret to inform you that we are unable to approve your registration at this time. 
            span Unfortunately, we have found that your registration information does not meet our requirements for joining our community. 
            span We encourage you to review our 
            a.link(href=termsUrl target="_blank")
              strong Terms&Conditions 
            span carefully, especially the part showing who is eligible for registration.
          p.message
            span If you have any questions or concerns about our decision, please do not hesitate to contact us.
          p.message Kind regards,
            br
            span Academlinks team.