doctype html
html
  include _headAndStyles.pug
  body
    div.container
      div.content 
        figure.fig
          img.logo(src=`${host}/assets/academlinks-logo.webp`)
        div.feedback
          p.welcome
            strong Academlinks
          p.thanks Dear 
            strong.username #{userName}
          p.message
            span Your registration request will be reviewed and we wil Email you in case of affirmation !
          p.thanks 
            span Thank you 
            strong.username #{userName} 
            span for your interest in joining our social network and for your patience.

